* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.nav-bar {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FA8804; 
    background-position: left;
    background-size: 25% auto;
    background-repeat: repeat-y;
    z-index: 10; 
}

.main {
    width: 80%;
    margin-left: 20%;
    position: relative;
}

.brand {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-itens {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;

    font-family: 'Kenia';
    font-size: 2.7rem;
}

.nav-itens ul {
    list-style: none;
}

.nav-itens ul li {
    padding-bottom: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-itens ul li:hover {
    transform: translateX(10px);
}

.social-media {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.7rem;
}

.social-media a {
    color: #021F59;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.2);
}

.page {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 910px;
    height: 450px;
    b order: 10px solid #000000;
}

.img-wrapper{
    width: 300px;
    height: 100%;
    overflow-y: hidden;
    padding: 5px;

}

.img-wrapper img{
    width: 100%;
}


#home {
    background-color: #260101;
    z-index: 1;
}

#about {
    background-color: #F20505;
    z-index: 2;
}

#services {
    background-color: #21038C;
    z-index: 3;
}

#contact {
    background-color: #038C73;
    z-index: 4;
}